<%= form_for(@videofile, :html => { :multipart => true }) do |f| %>
  <% if @videofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videofile.errors.count, "error") %> prohibited this videofile from being saved:</h2>

      <ul>
      <% @videofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "mceEditor" %>
  </div>
	<div class="field">
		 <%= f.label :poster %><br />
		 <%= f.file_field :poster %>
	</div>
	<div class="field">
		 <%= f.label :original %><br />
		 <%= f.file_field :original %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
