<h1>Listing videofiles</h1>

<table class="info" width="100%">
  <tr>
		<th></th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videofiles.each do |videofile| %>
  <tr>
		<td>
			<%= link_to videofile do %>
				<%= image_tag(videofile.poster.url(:mainpage)) if videofile.poster? %>
			<% end %>
		</td>
    <td class="title">
			<%= link_to videofile do %>	
				<%= videofile.title %>
			<% end %>
		</td>
    <td><%= link_to 'Edit', edit_videofile_path(videofile) %></td>
    <td><%= link_to 'Destroy', videofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @videofiles %>
<br />

<%= link_to 'New Videofile', new_videofile_path %>
