<!-- <h1><%=t "list_videofiles" %></h1> -->

<% unless @categories.empty? %>
  <table width="100%">
    <tr>
      <td>
        <%=t "list_categories" %>
      </td>
      <% @categories.each do |category|%>
      <td>
        <%=link_to category.title, :controller => 'videofiles', :category => category.id %>
      </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% unless @videofiles.empty? %>
  <table width="100%"><tr>
  <% @videofiles.each do |videofile| %>
    <td class="content-block" id="item-<%=videofile.id%>">
    	<p>
    		<%= link_to videofile do %>
    			<%= image_tag(videofile.poster.url(:mainpage)) if videofile.poster? %>
    		<% end %>
    	</p>
    	<p>
    		<%= link_to videofile, :class => "content-link" do %>	
    			<%= videofile.title %>
    		<% end %>
    	</p>
    	<% if admin_signed_in? %>
    	<p>
        <%= link_to t('edit_link'), edit_videofile_path(videofile) %> &nbsp;
        <%= link_to t('destroy_link'), videofile, :confirm => t('are_you_sure'), :method => :delete %>
    	</p>
    	<% end %>
    </td>

    <%=(cycle("","","</tr><tr>").html_safe) %>
  <% end %>
  </tr></table>
  <%= will_paginate @videofiles %>
<% end %>

<br />

<% if admin_signed_in? %>
	<%= link_to t ('new_videofile'), new_videofile_path %>
<% end %>
