<h1>Listing videofiles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videofiles.each do |videofile| %>
  <tr>
    <td><%= videofile.title %></td>
    <td><%= videofile.body %></td>
    <td><%= link_to 'Show', videofile %></td>
    <td><%= link_to 'Edit', edit_videofile_path(videofile) %></td>
    <td><%= link_to 'Destroy', videofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @posts %>
<br />

<%= link_to 'New Videofile', new_videofile_path %>
