<h1>Listing videofiles</h1>

<table width="100%"><tr>
<% @videofiles.each do |videofile| %>
<td class="content-block" id="item-<%=videofile.id%>">
	<p>
		<%= link_to videofile do %>
			<%= image_tag(videofile.poster.url(:mainpage)) if videofile.poster? %>
		<% end %>
	</p>
	<p>
		<%= link_to videofile, :class => "content-link" do %>	
			<%= videofile.title %> (<%= videofile.rating %> of <%= videofile.votes %>)
		<% end %>
	</p>
	<% if admin_signed_in? %>
	<p>
    <%= link_to 'Edit', edit_videofile_path(videofile) %> &nbsp;
    <%= link_to 'Destroy', videofile, :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<% end %>
</td>

<%=(cycle("","","</tr><tr>").html_safe) %>
<% end %>
</tr></table>
<%= will_paginate @videofiles %>
<br />

<% if admin_signed_in? %>
	<%= link_to 'New Videofile', new_videofile_path %>
<% end %>
