<p id="notice"><%= notice %></p>

<div class="content">
	<h2><%= @videofile.title %></h2>

	<%= image_tag @videofile.poster.url %>
	
	<p>
		<%= @videofile.body.html_safe %>
	</p>
	
	<p>
	  <% if @videofile.repacked? %>
	        <a 
	                href="http://<%=APP_CONFIG[:domain]%><%= @videofile.repacked.url %>"   
	                style="display:block;width:520px;height:330px"  
	                id="player"></a> 

	        <script>
	                flowplayer("player", "/javascripts/vendor/flowplayer/flowplayer-3.2.4.swf", {
	                        clip: 
	                        { 
	                                scaling: 'fit',
	        autoPlay: false,
	        autoBuffering: true
	                        }
	                });
	        </script>
	        <% end %>
	</p>	
</div>


<%= link_to 'Edit', edit_videofile_path(@videofile) %> |
<%= link_to 'Back', videofiles_path %>
