<p id="notice"><%= notice %></p>

<%= javascript_include_tag 'vendor/flowplayer/flowplayer-3.2.4.min.js' %>

<div class="content">
	<h2><%= @videofile.title %></h2>

	<%= image_tag @videofile.poster.url(:small) %>
	
	<p>
		<%= @videofile.body.html_safe %>
	</p>
	
	<p>
	  <% if @videofile.repacked? %>
	        <a 
	                href="<%= @videofile.repacked.url %>"   
	                style="display:block;width:520px;height:330px"  
	                id="player"></a> 

	        <script>
	                flowplayer("player", "/javascripts/vendor/flowplayer/flowplayer-3.2.4.swf", {
	                        clip: 
	                        { 
                            scaling: 'fit',
                            autoPlay: false,
                            autoBuffering: true
	                        }
	                });
	        </script>
		<% else%>
			<h4>
				File is not yet ready.
			</h4>
    <% end %>
	</p>	
</div>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_videofile_path(@videofile) %> |
<% end %>
<%= link_to 'Download', @videofile.original.url %> |
<%= link_to 'Back', videofiles_path %>
