<p id="notice"><%= notice %></p>

<div class="content">
	<h2><%= @videofile.title %></h2>

	<p><%= @videofile.body.html_safe %></p>
</div>


<%= link_to 'Edit', edit_videofile_path(@videofile) %> |
<%= link_to 'Back', videofiles_path %>
